@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi'), url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Bold'), url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.woff') format('woff');
}

@import "bootstrap-variables";
@import "helpers";
@import "style";
@import "slick";
@import "slick-theme";
@import "style1";
@import "style2";
@import "responsive";














